.app {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: #2c2e2f;
  overflow: auto;
  color: #eaeaea;
}

div.content {
  box-sizing: border-box;
  width: 90%;
  max-width: 1000px;
  padding: 20px 80px;
  margin-top: 20px;
  margin-bottom: 20px;  
  margin-left: auto;
  margin-right: auto;
  background-color: #535353;
}

.tags-area {
  text-align: left;
}

td.tags-table-category {
  color: #eaeaea;
  text-align: right;
  text-transform: uppercase;
}

td.tags-table-cell {
  padding: 4px;
}

td.tags-header-cell {
  display: block;
}

button.tag-button, a.tag-button {
  margin: 4px 6px;
  text-decoration: none;
}

.footer div {
  margin: 8px 0px;
}

a.arknights-link {
  text-decoration: underline;
}

a.arknights-link:hover {
  color: #22bbff
}

@media only screen and (max-width: 600px) {
  div.content {
    padding: 10px;
  }
}